# Core functionality - changes here should be rare!
/src/app.py                   @omarzayedbeshir
/src/backend/database.py      @omarzayedbeshir
/src/backend/routers/auth.py  @omarzayedbeshir

# The frontend will need refactored soon to be more object oriented.
/src/static/   @omarzayedbeshir
